<br>
<br>
<br>
<br>
<br>
<br>


  <!-- <img [src]="prd?.imgURL" class="card-img-top" alt="..." width="300" height="300" borderReduse> -->
  <!-- <input type="text" name="" id="" value = {{prd?.imgURL}} #newIMG> -->
  <!-- <div class="form-group">
    <label for="prdImg">User Image:</label>
    <input type="text" class="form-control" id="prdImg"    value = {{user?.imgURL}} placeholder="Enter product Image URl" required #newIMG>
  </div> -->
  <main id="main" class="main">

      <div class="pagetitle">
    
         <h1>Badges</h1>
    
         <nav>
    
            <ol class="breadcrumb">
    
               <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    
               <li class="breadcrumb-item">Components</li>
    
               <li class="breadcrumb-item active">Badges</li>
    
            </ol>
    
         </nav>
    
      </div>
    
      <section>
    
        <div>loka</div>
    {{userlist[0].userName}}
      </section>
    
    </main>
  <div class="bg-dark text-light" style="height: 20px;"> HIIiiiiiiiiiiiiiiiiiiiiiiiiiIIIII</div>
  <!-- <div class="card-body">
    <h5 class="card-title">User Name : </h5>
    <input type="text" name="" id="" value = {{user?.userName}} #newUsername>
    <h5 class="card-text">userPassword : </h5>
    <input type="text" name="" id="" value = {{user?.userPassword}} #newpassword>
    <h5 class="card-text">userPhone : </h5>
    <input type="text" name="" id="" value = {{user?.userPhone}} #newnumber>
    <h5 class="card-text">userEmail : </h5>
    <input type="text" name="" id="" value ={{user?.userEmail}} #newmail>
    <br><br>
    <h5 class="card-text">userAddress : </h5>
    <input type="text" name="" id="" value ={{user?.userAddress}} #newaddress>
    <br><br>
    <a class="btn btn-primary" >Back</a>
     (click)="getMeBack()" -->
  <!-- </div> -->
<!-- 
  <div class="btn-group">
    <button class="btn btn-dark" (click)="update(newUsername.value,newpassword.value,newnumber.value,newmail.value,newaddress.value)">Edit</button>
  </div> -->




